@use "../helpers" as *;

.advantage-card {
  display: flex;
  flex-direction: column;
  row-gap: fluid-desktop-laptop(30, 20);

  @include laptop {
    row-gap: fluid-laptop-mobile(20, 16);
  }

  &__image {
    @include laptop {
      width: rem(40);
    }

    @include mobile {
      width: rem(30);
    }
  }

  &__link {
    --circleSize: #{rem(52)};
    --arrowSize: #{rem(24)};
    --circleMarginLeft: #{fluid-desktop-laptop(20, 14)};

    display: flex;
    flex-direction: column;
    row-gap: fluid-desktop-laptop(4, 2);

    position: relative;
    padding-right: calc(var(--circleSize) + var(--circleMarginLeft));

    @include laptop {
      --circleSize: #{rem(44)};
      --arrowSize: #{rem(20)};
    }

    @include mobile {
      --circleSize: #{rem(40)};
    }

    &::after {
      @include square(var(--circleSize));
      @include abs-y;

      content: "";
      right: 0;
      background: url(../icons/arrow-top-right_black.svg) center no-repeat
        var(--color-accent);
      background-size: var(--arrowSize);
      border-radius: 50%;
    }
  }

  &__title {
    font-weight: 500;
  }

  &__details {
    font-family: var(--font-family-accent);
    font-size: fluid-desktop-laptop(20, 16);
    color: var(--color-gray-60);

    @include laptop {
      font-size: fluid-laptop-mobile(16, 14);
    }
  }
}
