@use "../helpers" as *;

.badge {
  display: inline-flex;
  padding: fluid-desktop-mobile(4, 2) fluid-desktop-mobile(12, 10);
  color: var(--color-light);
  background: linear-gradient(var(--color-dark-10), var(--color-dark-10))
      padding-box,
    var(--gradient) border-box;

  font-size: rem(16);
  border: rem(1) solid transparent;
  border-radius: rem(6);

  @include laptop {
    font-size: rem(14);
    border-radius: rem(4);
  }
}
