@use "../helpers" as *;

.button {
  display: inline-flex;
  justify-content: center;
  padding: rem(18) rem(24);
  color: var(--color-gray-60);
  background-color: var(--color-dark);
  border: var(--border-15);
  border-radius: rem(12);
  white-space: nowrap;

  @include laptop {
    padding: rem(14) rem(20);
    font-size: rem(14);
    border-radius: rem(8);
  }

  @include hover {
    color: var(--color-accent);
    background-color: var(--color-dark-10);
    border-color: var(--color-accent);
  }
}

.button--accent {
  font-weight: 500;
  letter-spacing: 0;
  color: var(--color-dark);
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  padding: rem(14) rem(20);
  border-radius: rem(10);
}
