@use "sass:math";

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error "Нельзя использовать единицы измерения при работе с функцией rem()! Передавайте в качестве аргумента только числа.";
  }
}

@function fluid-desktop-mobile($desktopSize, $mobileSize) {
  $desktopVW: 1920;
  $mobileVW: 390;

  $desktopRemVW: math.div($desktopVW, 16);
  $mobileRemVW: math.div($mobileVW, 16);

  $desktopRemSize: math.div($desktopSize, 16);
  $mobileRemSize: math.div($mobileSize, 16);

  //y = kx + b
  $k: math.div(
    ($desktopRemSize - $mobileRemSize),
    ($desktopRemVW - $mobileRemVW)
  );
  $b: $mobileRemSize - $mobileRemVW * $k;

  @return clamp(
    #{$mobileRemSize * 1rem},
    #{$k * 100vw} + #{$b * 1rem},
    #{$desktopRemSize * 1rem}
  );
}

@function fluid-desktop-laptop($desktopSize, $laptopSize) {
  $desktopVW: 1920;
  $laptopVW: 1440;

  $desktopRemVW: math.div($desktopVW, 16);
  $laptopRemVW: math.div($laptopVW, 16);

  $desktopRemSize: math.div($desktopSize, 16);
  $laptopRemSize: math.div($laptopSize, 16);

  //y = kx + b
  $k: math.div(
    ($desktopRemSize - $laptopRemSize),
    ($desktopRemVW - $laptopRemVW)
  );
  $b: $laptopRemSize - $laptopRemVW * $k;

  @return clamp(
    #{$laptopRemSize * 1rem},
    #{$k * 100vw} + #{$b * 1rem},
    #{$desktopRemSize * 1rem}
  );
}

@function fluid-laptop-mobile($laptopSize, $mobileSize) {
  $laptopVW: 1440;
  $mobileVW: 390;

  $laptopRemVW: math.div($laptopVW, 16);
  $mobileRemVW: math.div($mobileVW, 16);

  $laptopRemSize: math.div($laptopSize, 16);
  $mobileRemSize: math.div($mobileSize, 16);

  //y = kx + b
  $k: math.div(
    ($laptopRemSize - $mobileRemSize),
    ($laptopRemVW - $mobileRemVW)
  );
  $b: $mobileRemSize - $mobileRemVW * $k;

  @return clamp(
    #{$mobileRemSize * 1rem},
    #{$k * 100vw} + #{$b * 1rem},
    #{$laptopRemSize * 1rem}
  );
}
