@use "sass:math";
@use "./functions" as *;

@mixin hide {
  opacity: 0;
  visibility: hidden;
}

@mixin show {
  opacity: 1;
  visibility: visible;
}

@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else {
    display: flex;
  }
  justify-content: center;
  align-items: center;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: -50% -50%;
}
@mixin abs-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@mixin abs-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@mixin vertical-line-15 {
  width: rem(1);
  height: 100%;
  background-color: var(--color-dark-15);
}

@mixin horizontal-line-15 {
  width: 100%;
  height: rem(1);
  background-color: var(--color-dark-15);
}
